@import url("https://fonts.google.com/specimen/Rambla");
@import url("https://fonts.google.com/specimen/Open+Sans");

@font-face {
  font-family: "flood";
  src: url("/assets/fonts/Flood.ttf");
}

body {
  margin: 0;
  align-content: center;
}

.header {
  display: grid;
  font-family: Helvetica, Bold;
  color: #354463;
  background-color: #ffffff;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.donation-page {
  display: grid;
  grid-template-columns: 70% 30%;
  height: 75em;
  background-image: url("../assets/donation/annie-spratt-427340-unsplash.png");
}

.donation-page-logo {
  font-family: "flood";
  line-height: 1em;
  color: #ffffff;
  font-size: 4em;
  padding-right: 1em;
  margin-top: 0.8em;
}

.form-area {
  background-color: #354463;
  height: 60em;
  width: 40em;
  display: grid;
  grid-template-rows: 70% 30%;
  align-items: center;
  justify-self: center;
  align-self: center;
}

.form-input-area {
  display: grid;
  grid-template-rows: 70% 30%;
  padding: 3em;
}
.personal-info {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 3em;
  grid-row-gap: 2em;
}
.payment-head,
.personal-info-head {
  font-family: Helvetica, Bold;
  color: #ffffff;
  font-size: 2em;
}
.payment-info {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 2em;
}

input[type="text"] {
  width: 100%;
  background: #354463;
  border: none;
  padding-top: 1em;
  border-bottom: 1px solid #c1f7d5;
  color: #ffffff;
}
*:focus {
  outline: none;
}

.input-box > label,
.email > label,
.stret-address > label,
.zip-code > label{
  position: relative;
  font-family: Helvetica;
  color:#FFFFFF;
  font-size: 0.8em;
  top:-1.6em;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  pointer-events: none;
}

input:focus + label,
input:valid + label{
  top:-3em;
  color: #ffffff;
}
.state label{
  visibility: hidden;
}
.state-zipcode {
  grid-area: 3/2/4/3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2em;
}
.stret-address {
  grid-area: 2/1/3/3;
}
.email {
  grid-area: 4/1/5/3;
}
.state-dropdown {
  background: #354463;
  color: #c1f7d5;
  border: none;
  border-bottom: 1px solid #c1f7d5;
  width: 100%;
}
.credit-card-details {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2em;
}
.state{
  position: relative;
  top:0.8em;
}
.form-footer {
  padding: 4em;
}

.form-footer-text {
  font-family: Helvetica, Bold;
  color: white;
  font-size: 1.9em;
}

.payment-button {
  color: #354463;
  background-color: #c1f7d5;
  border-radius: 2em;
  height: 2em;
  width: 13em;
  text-align: center;
  padding-top: 1em;
  position: relative;
  left: 19em;
  top: 2.5em;
}

.form-footer a {
  position: relative;
  color: #c1f7d5;
  top: 1em;
}

.footer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  height: 9em;
  color: #354463;
  padding-top: 1em;
}

.foot-title {
  position: relative;
  font-family: Helvetica, Bold;
  font-size: 0.8em;
  padding-left: 9em;
  top: 3em;
}

.foot-contact-Us {
  position: relative;
  top: 2em;
  left: 9em;
}

.foot-links {
  position: relative;
  top: 2em;
  left: 4em;
}

.foot-follow-Us {
  position: relative;
  top: 2em;
  left: -3em;
}

.foot-logo {
  position: relative;
  font-family: "flood";
  color: #354463;
  text-align: center;
  font-size: 2.8em;
  line-height: 1em;
  top: 0.2em;
  left: -2em;
}

@media (max-width: 900px) {
  .donation-page {
    grid-template-columns: none;
    grid-template-rows: 15% 85%;
    background-image: url("/assets/donation/annie-spratt-427340-unsplash-\(1\).png");
    height: 75em;
  }

  .donation-page-logo {
    grid-area: 1/1;
    color: #ffffff;
    font-family: "flood";
    line-height: 1em;
    font-size: 3.5em;
    padding-left: 2em;
    position: relative;
    top: -1em;
  }

  .form-area {
    background-color: #354463;
    justify-self: center;
    align-self: center;
    height: 55em;
    width: 38em;
    position: relative;
    align-items: center;
    top: -2em;
  }

  .form-footer {
    padding: 3em;
  }

  .footer {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.5em;
    font-size: 1.7em;
    height: 20em;
    color: #354463;
  }

  .foot-title {
    position: relative;
    grid-area: 1/1/2/2;
    padding-left: 0em;
    left: 0.2em;
  }

  .foot-contact-Us{
    position: relative;
    grid-area: 1/2/1/3;
    left: 0em;
  }

  .foot-links{
    grid-area: 2/2/2/3;
    left: 0em;
  }

  .foot-follow-Us{
    position: relative;
    grid-area: 1/3/1/4;
    left: 0em;
  }

  .foot-logo {
    position: relative;
    grid-area: 2/3/2/4;
    font-size: 2em;
    top: 0.8em;
    left: -1em;
  }
}

@media (max-width: 600px) {
  .donation-page {
    background-image: url("/assets/donation/annie-spratt-427340-unsplash-\(m\).png");
    background-size: cover;
    height: 60em;
  }

  .donation-page-logo {
    color: #ffffff;
    font-family: "flood";
    line-height: 1em;
    font-size: 1.8em;
  }

  .form-area {
    background-color: #354463;
    justify-self: center;
    align-self: center;
    height: 50em;
    width: 18em;
    position: relative;
    align-items: center;
    top: -2em;
  }
  .form-input-area {
    padding: 1em;
  }
  .payment-head,
  .personal-info-head {
    font-family: Helvetica, Bold;
    color: #ffffff;
    font-size: 1.5em;
  }

  .personal-info {
    grid-column-gap: 1em;
    grid-row-gap: 0em;
  }
  .payment-info {
    grid-row-gap: 0em;
  }

  .credit-card-details {
    grid-column-gap: 1em;
  }
  ::placeholder {
    font-size: 0.8em;
  }
  
.input-box > label,
.email > label,
.stret-address > label,
.zip-code > label{
  position: relative;
  font-family: Helvetica;
  color:#FFFFFF;
  font-size: 0.6em;
}

  .form-footer {
    padding: 1em;
  }

  .form-footer-text {
    font-size: 1em;
  }

  .payment-button {
    position: relative;
    top: 1em;
    left: 1.5em;
  }

  .form-footer a {
    position: relative;
    top: 2em;
  }

  .footer {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.5em;
    font-size: 1em;
    height: 30em;
  }

  .foot-title {
    position: relative;
    grid-area: 1/1;
    padding-left: 4em;
    left: -1.2em;
    top: 2em;
  }

  .foot-contact-Us {
    grid-area: 1/2;
    left: 0;
  }

  .foot-links {
    grid-area: 2/2;
    left: 0em;
  }

  .foot-follow-Us {
    position: relative;
    grid-area: 2/1;
    left: 2.5em;
  }

  .foot-logo {
    position: relative;
    grid-area: 3/2;
    font-size: 2em;
    left: -1em;
  }
}
