@import url("https://fonts.google.com/specimen/Rambla");
@import url("https://fonts.google.com/specimen/Open+Sans");
@font-face {
  font-family: "flood";
  src: url("/assets/Flood.ttf");
}
body {
  margin: 0em;
  align-content: center;
  min-width: 900px;
  max-width: 1380px;
  font-family: Helvetica, Regular;
}
*:focus{
  outline: none;
}
.header,
.header-menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  grid-gap: 1em;
}
.header {
  padding: 1em;
}
.header-title {
  font-family: Helvetica, Bold;
  color: #354463;
  font-size: 1.2em;
}
.header-menu-item {
  font-family: Helvetica;
  font-size: 0.8em;
  color: #354463;
}
.header-donate {
  height: 2em;
  width: 9em;
  background: #c1f7d5;
  color: #354463;
  border-radius: 2em;
  text-align: center;
  padding-top: 1em;
}
.header-donate-button {
  text-decoration: none;
}

.section1 {
  display: grid;
  align-items: center;
  background: url("../assets/home/annie-spratt-135307-unsplash-des.png");
  height: 35em;
  background-repeat: no-repeat;
  background-size: cover;
}
.section1-poster1 {
  display: grid;
  grid-template-columns: 60% 40%;
}
.section1-poster1-card1 {
  justify-self: center;
  align-self: center;
  height: 25em;
  width: 30em;
  background: white;
  display: grid;
  position: relative;
  align-items: center;
}
.section1-poster1-card1-item1 {
  height: 2em;
  width: 9em;
  text-align: center;
  font-family: Helvetica, Regular;
  font-size: 0.8em;
  background: #354463;
  color: white;
  position: relative;
  top: -2em;
  left: 3em;
  padding-top: 0.5em;
}

.section1-poster1-card1-item2 {
  font-size: 2.5em;
  color: #354463;
  padding-left: 1em;
  padding-right: 1em;
  position: relative;
  top: -0.5em;
}
.section1-poster1-card1-item3 {
  position: relative;
  top: -3.5em;
  padding-left: 3em;
}
.section1-poster1-card1-item3 > a {
  color: #354463;
  font-family: Helvetica, Light;
  font-size: 0.8em;
}
.section1-poster1-card2 {
  font-size: 4em;
  margin-top: -1em;
  padding-right: 3em;
  font-family: "flood";
  line-height: 1em;
  color: white;
}
.section2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background: #c1f7d5;
  position: relative;
  padding: 3em;
  padding-top: 0em;
  justify-items: center;
}
.take-action {
  background: #354463;
  height: 2em;
  width: 8em;
  font-family: Helvetica, Regular;
  font-size: 0.8em;
  color: white;
  position: relative;
  top: -1em;
  left: 35em;
  padding-top: 0.5em;
  text-align: center;
}
.section2-poster2-card {
  grid-row-start: 2;
  font-size: 1em;
  color: #354463;
  width: 13em;
  align-self: center;
}
.section2-poster2-card > p {
  margin-top: -1em;
  font-size: 0.8em;
}
.section3,
.section3-poster1 {
  display: grid;
  background: #354463;
  padding: 3em;
}
.section3-poster1 {
  padding: 0em;
}
.section3-poster1-item1 {
  font-family: Helvetica, Regular;
  font-size: 0.8em;
  background: white;
  color: #354463;
  width: 9em;
  height: 2em;
  text-align: center;
  padding-top: 1em;
  position: relative;
  left: 10em;
}
.section3-poster1-item2 {
  color: white;
  font-size: 2.5em;
  padding-left: 3em;
  padding-top: 1em;
  padding-bottom: 2em;
}
.section3-poster2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  justify-items: center;
  padding-top: 3em;
}
.section3-poster2-cards {
  height: 32em;
  width: 18em;
  background: white;
  position: relative;
  display: grid;
  justify-content: center;
  align-content: center;
  padding-bottom: 1em;
}
.section3-poster2-cards-item1 > img {
  height: 15em;
  width: 100%;
  position: relative;
  top: -3em;
  left: 2em;
}
.section3-poster2-cards-item2 {
  position: relative;
  color: #354463;
  top: -2em;
  left: 2em;
  width: 12em;
}
.section3-poster2-cards-item2 > h1 {
  font-size: 1.7em;
}

.section3-poster2-cards-item2 > span {
  font-family: Helvetica, Light;
  font-size: 0.8em;
  color: #354463;
}
.section3-poster2-cards-item3 {
  background: #c1f7d5;
  color: #354463;
  font-size: 0.8em;
  width: 10em;
  height: 2em;
  border-radius: 2em;
  color: #354463;
  text-align: center;
  position: relative;
  left: 2em;
  padding-top: 1em;
}
.section4 {
  display: grid;
  grid-template-columns: 50% 50%;
  background: url("../assets/home/did-you-know-background.png");
  background-size: cover;
  height: 60em;
  padding: 6em;
  justify-items: center;
}
.section4-poster1 {
  display: grid;
}
.section4-climate-change {
  padding-left: 0.8em;
  font-size: 4.5em;
  font-family: "flood";
  line-height: 1em;
  color: #ffffff;
  position: relative;
}

.section4-take-action {
  text-align: center;
  background: #c1f7d5;
  color: #354463;
  height: 2em;
  width: 10em;
  border-radius: 2em;
  position: relative;
  top: -15.5em;
  left: 3.8em;
  padding-top: 1em;
}
.section4-poster2 {
  display: grid;
  grid-row-gap: 3em;
  position: relative;
  top: -4em;
}
.section4-poster2-cards1 {
  font-display: Helvetica, Bold;
  background: white;
  height: 5em;
  width: 20em;
  display: grid;
  grid-template-columns: 90% 10%;
  padding: 3em;
  grid-column-gap: 1em;
}
.section4-did-you-know {
  position: relative;
  text-align: center;
  font-size: 0.8em;
  background: #354463;
  color: white;
  height: 2em;
  width: 10em;
  left: 4em;
  top: 5.5em;
  padding-top: 1em;
}
.section4-poster2-item > b {
  font-size: 2em;
  color: #354463;
}
.section4-poster2-item > i {
  font-size: 1em;
  color: #354463;
  background: #c1f7d5;
  width: 1.5em;
  height: 1.5em;
  display: table-cell;
  vertical-align: middle;
  line-height: normal;
  text-align: center;
  border-radius: 1em;
}
.section4-poster2-item > span {
  color: #354463;
  font-size: 0.8em;
  width: 5em;
}
.section5 {
  background: #ffffff;
  height: 35em;
  display: grid;
  grid-template-columns: 49% 49% 1% 1%;
  padding: 5em;
  position: relative;
}
.section5-card1 {
  font-family: Helvetica, Bold;
  background: #354463;
  height: 16em;
  width: 30em;
  color: white;
  position: relative;
  top: 4.5em;
  padding: 3em;
  left: 3em;
  padding-right: 5em;
  padding-bottom: 4em;
}
.section5-card1 > p {
  font-family: Helvetica, Bold;
  font-size: 2em;
}
.section5-author {
  font-size: 0.4em;
}
.section5-card2 {
  height: 35em;
  background: url("../assets/home/lady-baby.png");
  background-size: cover;
}
.section5-read-more {
  position: relative;
  height: 3em;
  width: 8em;
  grid-row-start: 2;
  left: 2em;
  background: #c1f7d5;
  color: #354463;
  border-radius: 2em;
  text-align: center;
  display: table;
}

.section5-stories {
  position: relative;
  height: 2em;
  width: 8em;
  left: -28em;
  top: -1em;
  background: #354463;
  color: white;
  text-align: center;
  display: table;
}
.section5-read-more > b,
.section5-stories > i,
.section6-event,
.section6-read-more {
  display: table-cell;
  vertical-align: middle;
  line-height: normal;
}
.section6 {
  background: #354463;
  height: 80em;
  display: grid;
  grid-row-gap: 5em;
  justify-content: center;
}
.section6 {
  padding: 5em;
  padding-left: 10em;
}
.section6-poster1 {
  font-size: 5em;
  font-family: "flood";
  line-height: 1em;
  color: white;
}
.section6-poster2 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 2em;
  position: relative;
}
.section6-poster2-cards1 > img {
  width: 30em;
}
.section6-poster2-cards2 {
  width: 20em;
}
.section6-poster2-cards4 > img {
  position: relative;
  left: -6em;
  width: 30em;
}
.section6-event {
  height: 2em;
  width: 6em;
  background: white;
  color: #354463;
  text-align: center;
}
.section6-read-more {
  height: 2em;
  width: 6em;
  border-radius: 2em;
  background: #c1f7d5;
  color: #354463;
  text-align: center;
}
.section6-poster2-cards2 > span {
  font-family: Helvetica Bold;
  font-size: 3em;
  line-height: 1em;
  color: white;
  font-weight: 2em;
}
.section6-poster2-cards2 > p {
  font-size: 1em;
  color: white;
}
.section7 {
  background: #c1f7d5;
  display: grid;
  padding-top: 3em;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  justify-items: center;
}
.section7-card1 {
  align-self: start;
  font-family: Helvetica, Bold;
  color: #354463;
  font-size: 1.5em;
  padding-left: 3em;
  padding-right: 3em;
  position: relative;
  left: 2em;
}

.section7-read-more {
  height: 1.5em;
  width: 10em;
  border-radius: 2em;
  background: #354463;
  color: white;
  font-size: 1em;
  text-align: center;
  position: relative;
  left: 10em;
  top: -2em;
  padding-top: 0.5em;
}

.section7-input {
  height: 2em;
  width: 20em;
  text-align: center;
  background: white;
  border-radius: 2em;
  color: #354463;
  position: relative;
  left: -13em;
  top: 1em;
  border: none;
}
::placeholder {
  font-family: Helvetica;
  color: #354463;
  position: relative;
  left: 1em;
}

.footer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  height: 9em;
  color: #354463;
  padding-top: 1em;
}

.foot-title {
  position: relative;
  font-family: Helvetica, Bold;
  font-size: 0.8em;
  padding-left: 9em;
  top: 3em;
}

.foot-link-item1 {
  position: relative;
  top: 2em;
  left: 9em;
}

.foot-link-item2 {
  position: relative;
  top: 2em;
  left: 4em;
}

.foot-link-item3 {
  position: relative;
  top: 2em;
  left: -3em;
}

.foot-logo {
  position: relative;
  font-family: "flood";
  color: #354463;
  text-align: center;
  font-size: 2.8em;
  line-height: 1em;
  top: 0.2em;
  left: -2em;
}

@media (max-width: 900px) {
  body {
    min-width: 600px;
    max-width: 900px;
  }
  .header {
    grid-template-columns: none;
  }
  .header-title {
    padding-top: 1em;
    padding-left: 3.8em;
    justify-self: start;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 3;
    grid-row-end: 1;
    font-size: 1.5em;
  }
  .header-menu {
    grid-column-start: 1;
    grid-row-start: 2;
    grid-column-end: 3;
    grid-row-end: 2;
  }
  .header-donate {
    align-self: end;
    grid-column-start: 3;
    grid-row-start: 1;
    grid-column-end: 4;
    grid-row-end: 2;
  }
  .section1 {
    background: url("../assets/home/annie-spratt-135307-unsplash.png");
  }
  .section1-poster1 {
    grid-template-columns: none;
  }
  .section1-poster1-card1 {
    height: 18em;
    max-width: 100%;
    grid-row-start: 2;
  }
  .section1-poster1-card1-item2 {
    font-size: 2em;
  }
  .section1-poster1-card1-item3 {
    top: -1.5em;
  }
  .section1-poster1-card2 {
    grid-row-start: 1;
    font-size: 1.5em;
    width: 5em;
    padding-left: 6em;
    position: relative;
    top: -1em;
  }
  .section2 {
    grid-template-columns: none;
  }
  .take-action {
    left: 12em;
    grid-column-end: 1;
  }
  .section2-poster2-card {
    grid-row-start: 2;
  }
  .section2 > div:nth-child(odd) {
    grid-row-start: 3;
  }
  .section2-poster2-card > p {
    margin-top: -1em;
    width: 15em;
  }
  .section3-poster1-item1 {
    position: relative;
    left: 7em;
  }
  .section3-poster1-item2 {
    font-size: 2em;
  }
  .section3-poster2 {
    grid-template-columns: none;
    grid-row-gap: 5em;
    padding-top: 5em;
  }
  .section3-poster2-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 35em;
    height: 15em;
    grid-column-gap: 2em;
  }
  .section3-poster2-cards-item2 > h1 {
    font-size: 1.5em;
  }
  .section3_image1 {
    content: url("../assets/home/tree-planting-tab.png");
  }
  .section3-poster2-cards-item1 > img {
    width: 18em;
    height: 100%;
    left: 2em;
  }
  .section3-poster2-cards-item2 {
    position: relative;
    top: 1em;
    grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end: 3;
  }
  .section3-poster2-cards-item3 {
    grid-row-start: 2;
    top: -1em;
    left: 8em;
  }
  .section4 {
    height: 55em;
    background: url("/assets/home/did-you-know-background-tab.png");
    background-size: cover;
    grid-template-columns: 50% 50%;
    grid-column-gap: 2em;
    padding-left: 0em;
  }
  .section4-poster1 {
    margin-left: 2em;
  }
  .section4-climate-change {
    font-size: 3em;
    width: 5em;
    padding-left: 0em;
  }
  .section4-take-action {
    top: -5;
    left: 0;
  }
  .section4-poster2-cards1 {
    width: 18em;
    height: 5em;
  }
  .section4-did-you-know {
    top: 5em;
  }
  .section4-poster2-item > span {
    font-size: 1em;
  }
  .section5 {
    height: 55em;
    grid-template-columns: none;
    padding: 5em;
  }
  .section5-card1 {
    grid-row-start: 2;
    width: 40em;
    height: 16em;
    top: -4em;
    left: 4em;
    padding: 3em;
    font-size: 0.8em;
    padding-top: 0em;
    padding-bottom: 5em;
  }
  .section5-author {
    position: relative;
    top: -2em;
  }
  .section5-card2 {
    background: url("../assets/home/lady-baby-tab.png");
    max-height: 100%;
    width: 35em;
    grid-column-start: 1;
    grid-column-end: 3;
    background-size: cover;
  }
  .section5-stories {
    top: -53.5em;
    left: 2em;
  }
  .section5-read-more {
    top: 16em;
    left: -32em;
  }
  .section6 {
    padding: 5em;
    justify-content: start;
    height: auto;
  }
  .section6-poster1 {
    font-size: 2.5em;
    width: 13em;
  }
  .section6-poster2-cards1 > img {
    content: url("../assets/home/tree-planting-tab-sec6.png");
    max-height: 100%;
    left: 0em;
    width: 18em;
  }
  .section6-poster2-cards2 {
    width: 16em;
  }
  .section6-poster2-cards2 > span {
    font-size: 1.8em;
  }
  .section6-poster2-cards2 > p {
    font-size: 0.9em;
  }
  .section6-poster2-cards4 > img {
    max-height: 100%;
    left: 0em;
    width: 18em;
    content: url("../assets/home/meeting-tab-sec6.png");
  }
  .section7 {
    grid-template-columns: none;
    grid-row-gap: 1em;
  }
  .section7-card1 {
    padding-left: 0em;
    font-size: 1.5em;
    width: 20em;
    left: -3em;
  }
  .section7-input {
    width: 35em;
    left: -9em;
  }
  .section7-read-more {
    top: -2em;
    left: 24em;
  }
  .footer {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.5em;
    font-size: 1.7em;
    height: 20em;
    color: #354463;
  }

  .foot-title {
    position: relative;
    grid-area: 1/1/2/2;
    padding-left: 0em;
    left: 0.2em;
  }

  .foot-link-item1 {
    position: relative;
    grid-area: 1/2/1/3;
    left: 0em;
  }

  .foot-link-item2 {
    grid-area: 2/2/2/3;
    left: 0em;
  }

  .foot-link-item3 {
    position: relative;
    grid-area: 1/3/1/4;
    left: 0em;
  }

  .foot-logo {
    position: relative;
    grid-area: 2/3/2/4;
    font-size: 2em;

    top: 0.8em;
    left: -1em;
  }
}
@media (max-width: 600px) {
  body {
    min-width: 320px;
    max-width: 600px;
  }
  .header {
    grid-template-columns: none;
  }
  .header-title {
    padding-left: 0em;
    justify-self: center;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 3;
    grid-row-end: 2;
    font-size: 1em;
  }
  .header-menu {
    grid-template-columns: none;
    justify-items: baseline;

    padding: 0em;
    font-size: 0.6em;
    grid-gap: 0.5em;
    grid-column-start: 2;
    grid-row-start: 1;
    grid-column-end: 4;
    grid-row-end: 2;
  }
  .header-donate {
    width: 14em;
    align-self: end;
    grid-column-start: 1;
    grid-row-start: 2;
    grid-column-end: 4;
    grid-row-end: 3;
  }
  .section1 {
    height: 30em;
    background: url("../assets/home/annie-spratt-135307-unsplash-mob.png");
    background-repeat: no-repeat;
  }
  .section1-poster1-card1 {
    height: 14em;
    width: 18em;
    grid-row-start: 2;
  }
  .section1-poster1-card1-item2 {
    font-size: 1.5em;
  }
  .section1-poster1-card1-item3 {
    font-size: 0.8em;
    left: -1em;
    top: -1.5em;
  }
  .section1-poster1-card2 {
    grid-row-start: 1;
    font-size: 1.5em;
    width: 5em;
    align-self: center;
    position: relative;
    top: -1em;
    left: -3em;
  }
  .take-action {
    top: -1em;
    left: 3em;
    grid-column-end: 1;
  }
  .section2 {
  grid-gap: 0em;
  
  }
  .section2-poster2-card {
    top: -5em;
    font-size: 1em;
    padding: 0em;
    width: 10em;
  }
  .section2-poster2-card > p {
    font-size: 0.6em;
    width: 8em;
  }
  .section3-poster1-item1 {
    position: relative;
    left: 6em;
  }
  .section3-poster1-item2 {
    position: relative;
    left: -2em;
    font-size: 1em;
    text-align: center;
    width: 15em;
  }
  .section3-poster2 {
    grid-template-columns: none;
    padding-top: 3em;
    grid-row-gap: 5em;
  }
  .section3-poster2-cards {
    grid-template-columns: none;
    width: 15em;
    height: 25em;
    padding: 0em;
    justify-items: start;
  }
  .section3_image1 {
    content: url("../assets/home/tree-planting-tab.png");
  }
  .section3-poster2-cards-item1 > img {
    width: 12em;
    height: 100%;
    left: 0.2em;
  }
  .section3-poster2-cards-item2 {
    grid-column-start: 1;
    grid-row-start: 2;
    position: relative;
    top: -2em;
    left: 1em;
  }
  .section3-poster2-cards-item3 {
    grid-column-start: 1;
    grid-row-start: 3;
    top: -1em;
    left: 2em;
  }
  .section4 {
    height: 60em;
    grid-template-columns: none;
    background: url("../assets/home/did-you-know-background-mob.png");
    padding: 0em;
  }
  .section4-poster2 {
    justify-content: center;
    top: -1em;
    grid-row-gap: 1em;
  }
  .section4-climate-change {
    font-size: 2em;
    top: 1em;
    left: -2em;
  }
  .section4-take-action {
    top: 2em;
    left: -4em;
    width: 7em;
  }
  .section4-did-you-know {
    top: 3.5em;
  }
  .section4-poster2-cards1 {
    width: 12em;
    height: 4em;
    padding: 2em;
  }
  .section4-poster2-item > b {
    font-size: 1.5em;
  }
  .section4-poster2-item > span {
    font-size: 0.8em;
  }
  .section5 {
    display: none;
    grid-template-columns: none;
    padding: 0em;
    padding-top: 5em;
    padding-left: 3em;
    padding-bottom: 8em;
    height: auto;
  }
  .section5-card1 {
    width: 30em;
    height: 25em;
    padding: 3em;
    font-size: 0.5em;
    left: 0em;
    top: 3em;
  }
  .section5-author {
    position: relative;
    top: -2em;
  }
  .section5-card2 {
    background: url("../assets/home/lady-baby-mob.png");
    height: 18em;
    width: auto;
    background-size: contain;
    background-repeat: no-repeat;
    grid-column: unset;
  }
  .section5-stories {
    top: -1em;
    left: -15em;
  }
  .section5-read-more {
    top: 18em;
    left: -13em;
  }
  .section6 {
    padding-bottom: 0em;
    height: 84em;
  }
  .section6-poster1 {
    font-size: 1.2em;
    width: auto;
    position: relative;
    left: -1em;
  }
  .section6-poster2 {
    grid-template-columns: none;
  }
  .item1 > i {
    position: relative;
    top: -12em;
    left: 3em;
  }
  .section6-poster2-cards1 > img {
    max-height: none;
    width: 14em;
    position: relative;
    left: -1em;
  }
  .section6-poster2-cards4 > img {
    max-height: none;
    width: 14em;
    position: relative;
    top: -28em;
    left: -1em;
  }
  .item1 {
    position: relative;
    top: -5em;
  }
  .item1 span{
position: relative;
left: -0.5em;
  }

  .item1 p{
    position: relative;
    left: -1em;
  }
  .item2 {
    position: relative;
    top: 8em;
    left: -1em;
  }
  .item2 > i {
    position: relative;
    top: -13em;
    z-index: 1;
    left: em;
  }
  .item2 span{
    position: relative;
    left:-10;
  }

  .section7 {
    grid: none;
    display: grid;
    /* justify-items: center; */
    /* padding-left: 0em; */
    justify-content: center;
    height: 10em;
  }
  .section7-card1 {
    font-size: 1em;
    text-align: center;
    justify-content: center;
    position: relative;
    left: 1em;
  }
  .section7-input{
    position: relative;
    width: 19em;
    left: 0em;
    top:0em
  }
  .section7-read-more {
    justify-items: center;
    text-align: center;
    position: relative;
    width: 8em;
    left: 3em;
    top:0em;
  }

  .footer {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.5em;
    font-size: 1em;
    height: 30em;
  }

  .foot-title {
    position: relative;
    grid-area: 1/1;
    padding-left: 4em;
    left: -1.2em;
    top: 2em;
  }

  .foot-link-item1 {
    grid-area: 1/2;
    left: 0;
  }

  .foot-link-item2 {
    grid-area: 2/2;
    left: 0em;
  }

  .foot-link-item3 {
    position: relative;
    grid-area: 2/1;
    left: 2.5em;
  }

  .foot-logo {
    position: relative;
    grid-area: 3/2;
    font-size: 2em;
    left: -1em;
  }
}
